@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background: radial-gradient(
        circle,
        rgba(253, 253, 253, 0.329) 0%,
        rgba(253, 253, 253, 0.199) 100%
    );
    @apply rounded-lg px-6 py-3 w-full container border
        border-gray-600;
}
