@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

h1 {
    @apply font-Kablammo text-5xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl font-bold;
}

.header {
    background: radial-gradient(
        circle,
        rgba(133, 133, 133, 0.856) 0%,
        rgba(56, 56, 56, 0.801) 100%
    );

    @apply sm:rounded-lg px-6  w-full container border
        border-gray-600;
}

.h-main {
    @apply h-[calc(100vh-96px)];
}

.min-h-main {
    @apply min-h-[calc(100vh-96px)];
}

.bg-1 {
    background-image: 'bg.jpg';
}
